.hero {
  padding: 30px 10px 55px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.heroDesc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.heroBtn {
  border: 1px solid #e58411;
  border-radius: 22px;
  color: #e58411;
  padding: 10px 15px;
  max-width: 300px;
  margin-top: 20px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 90px 55px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 100px 290px 500px 290px;
  }

  .heroTitle {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
  }

  .heroDesc {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
}
