.experienceSection {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.experienceContent,
.materialsContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.experienceImage {
  flex: 1;
}

.materialsImages {
  display: flex;
  gap: 60px;
}

.experienceImage img {
  width: 600px;
  object-position: center;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 13px 10px 30px -1px rgba(66, 68, 90, 1);
}

.materialsImages div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experienceText,
.materialsText {
  max-width: 550px;
}

.moreLink {
  font-size: 14px;
  color: #ff6f61;
  text-decoration: none;
  font-weight: bold;
}

.moreLink:hover {
  text-decoration: underline;
}

.carImage {
  width: 200px;
  border-radius: 15px;
  box-shadow: 13px 10px 30px -1px rgba(66, 68, 90, 1);
}

.leatherImage {
  width: 200px;
  border-radius: 15px;
  box-shadow: 13px 10px 30px -1px rgba(66, 68, 90, 1);
}

.materialsImage {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 100px;
  box-shadow: 13px 10px 30px -1px rgba(66, 68, 90, 1);
}
