.footer {
  padding: 30px 10px;
  background-color: #f7f7f7;
  margin-top: 50px;
}

.footerContainer {
  max-width: 320px;
  margin: 0 auto;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mapContainer {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 0;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.mapContainer iframe {
  width: 100%;
  height: 250px;
}

.aboutUs{max-width: 320px;}

.navList{display: flex;flex-direction: column;gap: 10px;}

@media screen and (min-width: 768px) {
  .footerContainer {
    max-width: 768px;
  }

  .footerInfo {
    justify-content: space-around;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px){
    .footerContainer {
    max-width: 1280px;
  }
}
